{% extends 'base.html' %}
{% block content %}

{% if error %}
{{error}}
<br>
<br>
{% endif %}
{% if next %}
{% if error == None %}
<p>You should Login first</p>
{% endif %}
{% endif %}
<h1>Login</h1>
<form method="POST" action="{% url 'login' %}">
    {% csrf_token %}
    Username:
    <br>
    <input type="text" name="username">
    <br>
    Password:
    <br>
    <input type="password" name="password">
    <br>
    <input type="hidden" name="next" value="{{ next }}">
    <input class="btn btn-primary" type="submit" value="Login">
</form>
{% endblock %}