{% extends 'base.html' %}
{% block content %}

{% if error %}
{{error}}
<br>
<br>
{% endif %}
<h1>Create Post</h1>
{% comment %} enctype is for handling image {% endcomment %}
<form method="post" action="{% url 'create' %}" enctype="multipart/form-data">
    {% csrf_token %}
    Title:
    <br>
    <input type="text" name="title">
    <br>
    body:
    <br>
    <textarea name="body" rows="10" cols="30"></textarea>
    <br>
    URL:
    <br>
    <input type="text" name="url">
    <br>
    Icon:
    <br>
    <input type="file" name="icon">
    <br>
    Image:
    <br>
    <input type="file" name="image">
    <br>
    <br>
    <input class="btn btn-primary" type="submit" value="Add Product">
</form>
{% endblock %}