{% extends 'base.html' %}

{% block content %}
<h1 align="center">{{name}} products</h1>
{% for product in products%}
  <div class="row pt-3">
    <div class="col-sm-2">
        <img src="{{ product.image.url }}" alt="icon.jpg" class="img-fluid">
    </div>
    <div class="col-sm-6" >
        <h1>{{ product.title }}</h1>
        <p>{{product.body}}</p>
    </div>
    <div class="col-sm-4">
        <span class="oi oi-thumb-up">{{ product.votes_total }}</span>
    </div>

</div>
<hr>
{% endfor %}
{% endblock %}